.bundle
db/*.sqlite3
log/*.log
tmp/
public/assets
config/database.yml
public/stylesheets/screen.css
*~
config/apis.yml
public/stylesheets/all.css
public/stylesheets/all.css.gz
public/stylesheets/admin/admin-all.css
public/stylesheets/admin/admin-all.css.gz
public/stylesheets/checkout.css
config/htpasswd
config/htpasswd.sample
public/javascripts/jquery-core.js
public/javascripts/jquery-admin-plugins.js
.current_revision
config/newrelic.yml
*#*
